In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [110]:
df = pd.read_csv('/workspaces/Amazon_Sales_Dataset/Amazon Sale Report (1) (1).csv' , index_col = 'index')
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
index,,,,,,,,,,,,,,,,,,,,
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN

In [111]:
df.drop(['New','PendingS'], axis = 1, inplace=True)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128976 entries, 0 to 128974
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128976 non-null  object
 1   Date                128976 non-null  object
 2   Status              128976 non-null  object
 3   Fulfilment          128976 non-null  object
 4   Sales Channel       128976 non-null  object
 5   ship-service-level  128976 non-null  object
 6   Category            128976 non-null  object
 7   Size                128976 non-null  object
 8   Courier Status      128976 non-null  object
 9   Qty                 128976 non-null  int64
 10  currency            121176 non-null  object
 11  Amount              121176 non-null  float64
 12  ship-city           128941 non-null  object
 13  ship-state          128941 non-null  object
 14  ship-postal-code    128941 non-null  float64
 15  ship-country        128941 non-null  object
 16  B2B                 128976 non-null  bool
 17  fulfilled-by        39263 non-null   object
dtypes: bool(1), float64(2), int64(1), object(14)
memory usage: 17.8+ MB

# EKSİK DATALARI GÖSTER

In [113]:
df.isnull().sum

<bound method DataFrame.sum of         Order ID   Date  Status  Fulfilment  Sales Channel  \
index
0          False  False   False       False          False
1          False  False   False       False          False
2          False  False   False       False          False
3          False  False   False       False          False
4          False  False   False       False          False
...          ...    ...     ...         ...            ...
128970     False  False   False       False          False
128971     False  False   False       False          False
128972     False  False   False       False          False
128973     False  False   False       False          False
128974     False  False   False       False          False

        ship-service-level  Category   Size  Courier Status    Qty  currency  \
index
0                    False     False  False           False  False     False
1                    False     False  False           False  False     False
2                    False     False  False           False  False     False
3                    False     False  False           False  False     False
4                    False     False  False           False  False     False
...                    ...       ...    ...             ...    ...       ...
128970               False     False  False           False  False     False
128971               False     False  False           False  False     False
128972               False     False  False           False  False     False
128973               False     False  False           False  False     False
128974               False     False  False           False  False     False

        Amount  ship-city  ship-state  ship-postal-code  ship-country    B2B  \
index
0        False      False       False             False         False  False
1        False      False       False             False         False  False
2        False      False       False             False         False  False
3        False      False       False             False         False  False
4        False      False       False             False         False  False
...        ...        ...         ...               ...           ...    ...
128970   False      False       False             False         False  False
128971   False      False       False             False         False  False
128972   False      False       False             False         False  False
128973   False      False       False             False         False  False
128974   False      False       False             False         False  False

        fulfilled-by
index
0              False
1              False
2               True
3              False
4               True
...              ...
128970          True
128971          True
128972          True
128973          True
128974          True

[128976 rows x 18 columns]>

In [114]:
df.shape [0] #satır sayısını alır

128976

In [115]:
df.shape [1] #sütun sayısını alır

18

In [116]:
df[['currency','Amount']]

       currency   Amount
index
0           INR   647.62
1           INR   406.00
2           INR   329.00
3           INR   753.33
4           INR   574.00
...         ...      ...
128970      INR   517.00
128971      INR   999.00
128972      INR   690.00
128973      INR  1199.00
128974      INR   696.00

[128976 rows x 2 columns]

In [117]:
df ['currency'].unique()
#currency sutunun full inr ile değeri içerdiğinden eksik verileri inr ile doldurabilirm

array(['INR', nan], dtype=object)

In [118]:
df ['currency'].fillna('INR',inplace=True)

/tmp/ipykernel_17499/3534600569.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df ['currency'].fillna('INR',inplace=True)

In [119]:
df.isnull().sum

<bound method DataFrame.sum of         Order ID   Date  Status  Fulfilment  Sales Channel  \
index
0          False  False   False       False          False
1          False  False   False       False          False
2          False  False   False       False          False
3          False  False   False       False          False
4          False  False   False       False          False
...          ...    ...     ...         ...            ...
128970     False  False   False       False          False
128971     False  False   False       False          False
128972     False  False   False       False          False
128973     False  False   False       False          False
128974     False  False   False       False          False

        ship-service-level  Category   Size  Courier Status    Qty  currency  \
index
0                    False     False  False           False  False     False
1                    False     False  False           False  False     False
2                    False     False  False           False  False     False
3                    False     False  False           False  False     False
4                    False     False  False           False  False     False
...                    ...       ...    ...             ...    ...       ...
128970               False     False  False           False  False     False
128971               False     False  False           False  False     False
128972               False     False  False           False  False     False
128973               False     False  False           False  False     False
128974               False     False  False           False  False     False

        Amount  ship-city  ship-state  ship-postal-code  ship-country    B2B  \
index
0        False      False       False             False         False  False
1        False      False       False             False         False  False
2        False      False       False             False         False  False
3        False      False       False             False         False  False
4        False      False       False             False         False  False
...        ...        ...         ...               ...           ...    ...
128970   False      False       False             False         False  False
128971   False      False       False             False         False  False
128972   False      False       False             False         False  False
128973   False      False       False             False         False  False
128974   False      False       False             False         False  False

        fulfilled-by
index
0              False
1              False
2               True
3              False
4               True
...              ...
128970          True
128971          True
128972          True
128973          True
128974          True

[128976 rows x 18 columns]>

In [120]:
df ['Amount'].describe()

count    121176.000000
mean        648.562176
std         281.185041
min           0.000000
25%         449.000000
50%         605.000000
75%         788.000000
max        5584.000000
Name: Amount, dtype: float64

In [121]:
amountMedian = df['Amount'].median()#amount sutununun ortanca degerini bulalım
amountMedian

np.float64(605.0)

In [122]:
df['Amount'].fillna(amountMedian, inplace =True)
df['Amount'].isnull().sum()

/tmp/ipykernel_17499/645397855.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Amount'].fillna(amountMedian, inplace =True)

np.int64(0)

In [123]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                35
ship-state               35
ship-postal-code         35
ship-country             35
B2B                       0
fulfilled-by          89713
dtype: int64

In [124]:
df [["ship-city","ship-state","ship-country"]].dtypes

ship-city       object
ship-state      object
ship-country    object
dtype: object

In [125]:
def modAlma(sütun_ismi):
    return df[sütun_ismi].mode()[0]

In [126]:
ship_city_mod = modAlma("ship-city")
ship_state_mod = modAlma("ship-state")
ship_country_mod = modAlma("ship-country")

In [127]:
def str_eksik_veri_doldurma(sütun_ismi,method):
    df[sütun_ismi].fillna(method, inplace = True)

In [128]:
str_eksik_veri_doldurma("ship-city",ship_city_mod)
str_eksik_veri_doldurma("ship-state",ship_state_mod)
str_eksik_veri_doldurma("ship-country",ship_country_mod)

/tmp/ipykernel_17499/2088135166.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[sütun_ismi].fillna(method, inplace = True)

In [129]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                 0
ship-state                0
ship-postal-code         35
ship-country              0
B2B                       0
fulfilled-by          89713
dtype: int64

In [130]:
df["ship-postal-code"]

index
0         400081.0
1         560085.0
2         410210.0
3         605008.0
4         600073.0
            ...
128970    500013.0
128971    122004.0
128972    500049.0
128973    389350.0
128974    492014.0
Name: ship-postal-code, Length: 128976, dtype: float64

In [137]:
ship_postal_code_mod = modAlma(sütun_ismi='ship-postal-code')
str_eksik_veri_doldurma("ship-postal-code",ship_postal_code_mod)

In [138]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                 0
ship-state                0
ship-postal-code          0
ship-country              0
B2B                       0
fulfilled-by          89713
dtype: int64

In [139]:
df.drop('fulfilled-by',axis=1,inplace=True)